.Main {
  min-height: calc(100vh - 15vh - 15vh);
  /* Viewport - Header - Footer */
  max-width: 600px;
}

.Button-Container {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
